<div class="row mb-3">
  <label for="inputCode" class="col-sm-2 col-form-label">Código</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputCode" value={{major.code}}>
  </div>
</div>
<div class="row mb-3">
  <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="inputNome" value={{major.name}}>
  </div>
</div>
<div class="mb-3">
  <label for="inputDesc" class="col-sm-2 col-form-label">Descrição</label>
  <textarea class="form-control" id="inputDesc" rows="3" value={{major.description}}></textarea>
</div>
<button type="submit" class="btn btn-primary">Sign in</button>
